body{
    background-image: url(https://image.freepik.com/free-vector/coronavirus-2019-ncov-white-background-medical-healthcare-microbiology-concept-design-covid-19-outbreaking_34926-395.jpg);
    background-attachment: fixed;
    background-size: 100% 100%;
}
.container{
    text-align: center;
}
h1,h2{
    color: black;
}
h3{
    color:rgb(40, 44, 94);
}
p{
    font-weight: bold;
    color:rgb(68, 19, 19);
}
#date{
    color: rgb(78, 68, 68);
}
#name-country{
    color: gray;
}
.content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.content .box{
    min-width: 270px;
    margin: 10px;
    border: 1px solid black;
}
